@charset "utf-8";
/* CSS Document */

.main {
	width:100%;
	height:auto;
	
	margin:0px auto;
}
 
.slides {
	width:100%;
	height:auto;
	margin-top:2%
}
 
.slides img {
	width:100%;
	height:auto;
}
 
.slidesjs-pagination {
	
	list-style:none; width:100%;
	overflow:hidden;
}
 
.slidesjs-pagination li {
	float:left;
}
 
.slidesjs-pagination li a {
	display:inline;
	padding:10px 20px;
	color:#fff;
	text-decoration:none;
}
 
.slidesjs-pagination li a:hover {
	background:none;
}
 
.slides .active {
	background:#FFF;
}
 
.slidesjs-navigation{
	background:#FFF;
	color:#fff;
	text-decoration:none;
	display:inline-block;
	padding:10px 20px;
	float:right;
}
.slidesjs-navigation{ display:none;}

.slidesjs-stop { display:none;}